/*******
##### FONTS
**************/

@mixin font-face($name, $type) {
  $filepath: '../fonts/' + $name + '/' + $type + '/' + $name + '-' + $type;
  @font-face {
    font-family: $name + '-' + $type;
    src: url($filepath + '.eot');
    src: url($filepath + '.eot?#iefix') format('embedded-opentype'),
        url($filepath + '.woff') format('woff'),
        url($filepath + '.ttf')  format('truetype'),
        url($filepath + '.svg#' + $name + '') format('svg');
  }
}


@include font-face('Noway', 'Regular');
@include font-face('Noway', 'Italic');


@mixin noway-regular {
  font-family: 'Noway-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin noway-italic {
  font-family: 'Noway-Regular', sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin font-italic {
  font-style: italic;

  li,
  p,
  strong,
  span {
    font-style: italic;
  }
}
