/*******
##### VARS
**************/

//Colors
$black: #000;
$white: #fff;


$txt-yellow: #FFEF13;

$txt-blue-light: #A0CCCA;

//btn


//Fonts
$normal: 400;
$medium: 500;
$bold: 700;



$font-15: 0.894rem;
$font-17: 1rem;
$font-20: 1.176rem;
$font-24: 1.411rem;
$font-27: 1.617rem;
$font-30: 1.764rem;
$font-35: 2.058rem;
$font-38: 2.235rem;
$font-40: 2.352rem;
$font-42: 2.470rem;
$font-45: 2.647rem;
