// @import "vendors/bootstrap";
@import "libs/_bootstrap.scss";

body {
  background-color: #4D2;
  color: blue;
}

.container {
  display: flex;
  flex-direction: row;

  input {
    appearance: none;
  }
}
